allure-pytest
allure-python-commons
Appium-Python-Client
asgiref
async-generator
attrs
blinker
Brotli
certifi
cffi
charset-normalizer
click
cryptography
Flask
h11
h2
hpack
hyperframe
idna
iniconfig
itsdangerous
Jinja2
jsonpath
kaitaistruct
ldap3
MarkupSafe
mitmproxy
msgpack
outcome
packaging
passlib
pluggy
protobuf
publicsuffix2
py
pyasn1
pycparser
pyOpenSSL
pyparsing
pyperclip
PySocks
pytest
PyYAML
requests
ruamel.yaml
ruamel.yaml.clib
selenium
six
sniffio
sortedcontainers
tomli
tornado
trio
trio-websocket
urllib3
urwid
Werkzeug
wsproto
zstandard
